body {


	margin:0;
padding:0
}

body {
    font-family: Calibre-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 18px;
    line-height: 1.4;
    color: #24292e;
    background-color: #fff;
}

b, h1, h2, h3, h4 {
    font-family: Calibre-Semibold,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        font-weight: 700;
}
/*****************************************************/
/****General****/

a.bg-purple.State.mb-4.disabled {
    opacity: .4;
}
a.bg-purple.State.mb-4.disabled1 {
    opacity: .7;
}
header {
  padding-top: 40px;
  padding-bottom: 50px;
  margin-bottom: -50px;

}
nav .container {padding:0}
/*****************************************************/
/****Blocks****/

.active {font-weight:bold;}
.foot {
	text-align: center;
	width: 60%;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: auto;
	padding: 10px;
	margin-top: 20px;
}

.container {
	padding-top: 80px;
}
.content {
    /*border-radius: 20px;
    margin: 20px auto auto;
    padding: 20px;
    text-align: center;
    width: 65%;*/

    border-radius: 20px;
    margin: 20px auto auto;
    font-weight: 600;
    color: #949ca9;
}

.Progress[data-v-3566e8ef] {
    background-color: #e1e1e1;
    height: 8px;
    border-radius: 4px;
}

.mb-3, .my-3 {
    margin-bottom: 16px!important;
}

.Progress span[data-v-3566e8ef]:last-child {
    background-color: var(--primary-color)!important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.Progress span[data-v-3566e8ef]:first-child {
    background-color: var(--primary-color)!important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    opacity: 1;
}

.Progress[data-v-3566e8ef] {
    background-color: #e1e1e1;
    height: 8px;
    border-radius: 4px;
}

.button[data-v-3bce6c50]:hover {
    color: var(--link-color);
    border-color: #e1e1e1;
}

.button[data-v-3bce6c50] {
    border: 1px solid #e1e1e1;
    background-color: transparent;
    color: var(--link-color);
    border-radius: 23px;
    padding: 0 24px;
    outline: none;
    line-height: 46px;
    height: 46px;
    font-size: 18px;
}

.width-full {
    width: 100%!important;
}

button {
    cursor: pointer;
    border-radius: 0;
}

.bg-purple {
    background-color: #6f42c1!important;
}

.State {
    font-size: 16px;
    line-height: 30px;
    height: 28px;
    vertical-align: middle;
    padding: 2px 12px;
    border-radius: 14px;
    color: #ffffff;
}

.block-bg {
    background-color: var(--block-bg)!important;
}

.border, .border-bottom, .border-lg, .border-md, .border-top {
    border-color: var(--border-color)!important;
}

.bg-gray-dark {
    background-color: #fff!important;
}

.py-3 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.p-4 {
    padding: 24px!important;
}

.mb-1, .my-1 {
    margin-bottom: 4px!important;
}
.overflow-hidden {
    overflow: hidden!important;
}

.text-white {
    color: #212529!important;
}

.float-right {
    float: right!important;
}

.mr-1 {
    margin-right: 4px!important;
}

.mb-1, .my-1 {
    margin-bottom: 4px!important;
}

.mb-4, .my-4 {
    margin-bottom: 24px!important;
}



.Counter[data-v-3469808b] {
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    height: 20px;
    min-width: 20px;
    color: #fff;
    text-align: center;
    background-color: #949ca9;
    border-radius: 10px;
    vertical-align: middle;
    border-radius: 30px;
}

.Counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: "Calibre-Semibold",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1;
    color: #586069;
    background-color: rgba(27,31,35,.08);
    border-radius: 20px;
}

.column {
    width: 160px;
}

.text-center {
    text-align: center!important;
}

.flex-auto {
    flex: auto!important;
}

.d-flex {
    display: flex!important;
}

.border, .border-bottom, .border-lg, .border-md, .border-top {
    border-color: #e1e1e1!important;
}
.px-4 {
    padding-right: 24px!important;
    padding-left: 24px!important;
}

.border-top {
    border-top: 1px solid #e1e4e8!important;
}
/*****************************************************/
/****Content****/
.new {
	font-size: 36px;
	text-align: center;
}

.form input[type=text] {
	width: 250px;
}


.votes_th,

.accept_reject_th {
	width: 150px;
}

.votes {
	font-size: 22px;
}

.ranking {
	font-size: 45px;
}

.page-header {
    border-bottom: medium none !important;
    margin-top: 50px;
	padding-bottom:0px;
}
.banner {

max-width:170px;
max-height:60px;

}


table.col-md-12 {padding:0}
.fa.fa-chevron-left {
    margin-top: 50%;
	padding-top:50px;
}
.fa.fa-chevron-right {
    margin-top: 50%;
	padding-top:50px;
}

.carousel .item {max-height:500px;}



.carousel-caption {top:30px;}


.active .carousel-caption h1 {color:#fff}


.clearfix {clear:both}


.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: none;
}




.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
display: block;
max-width: 100%;
width: 100%;
min-height: 135px;

}
.list-group-item.col-xs-3 {background-color:transparent!important}

.thumb .thumbnail {

min-height: 97px;
  min-width: 120px;
}



.rank {text-align:center}
h4 {
    font-size: 20px;
}
.px-4 {
    padding-right: 24px!important;
    padding-left: 24px!important;
}
.border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
}
.Label[data-v-421ee3b3] {
    display: inline-block;
    padding: 0 7px;
    font-size: 14px;
    font-weight: 500;
    height: 22px;
    line-height: 23px;
    border-radius: 2em;
    box-shadow: none;
    color: var(--text-color);
}

a {
    color: #000000;
}
.line-height-0 {
    line-height: 0;
}

.d-inline-block {
    display: inline-block!important;
}

.mr-1 {
    margin-right: 4px!important;
}

.Label[data-v-421ee3b3] {
    display: inline-block;
    padding: 0 7px;
    font-size: 14px;
    font-weight: 500;
    height: 22px;
    line-height: 23px;
    border-radius: 2em;
    box-shadow: none;
    color: #949ca9;
}

.border {
    border: 1px solid #e1e4e8!important;
}

p {
    font-size: 22px;
}


@media (min-width: 768px){
	.rounded-md-top-2 {
	    border-top-left-radius: 8px!important;
	    border-top-right-radius: 8px!important;
	}

	.border-md {
	    border: 1px solid #e1e4e8!important;
	}

	.rounded-md-2 {
	    border-radius: 8px!important;
	}
}


@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: none; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 34%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}


/* Mega Drop down*/
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
	line-height: 28px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
	text-align:center;
}
.mega-dropdown-menu > li > ul > li > a {
  clear: both;
  color: #000;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
.mega-dropdown-menu > li > ul > li > a {
  clear: both;
  color: #FFF;
  white-space: normal;
}
.mega-dropdown-menu > li > ul > li {
	text-align:left;
}
	
}